<p id="notice"><%= notice %></p>

<%= link_to 'Back to Index', quiz_runs_path %>

<h1>Question</h1>
<p>
  <%= link_to '[Edit Question]', edit_question_path(@question) %> <%= @question.prompt %>
</p>
<% unless @question.enough_answers? %>
    <p class="warning" id="enough_answers">
      > Add at least 3 answers to use this question in a quiz.
    </p>
<% end %>
<% unless @question.has_correct_answer? %>
    <p class="warning" id="has_correct_answer">
      > Add a correct answer to use this question in a quiz.
    </p>
<% end %>
<hr>

<div id="answers-container" class="container" style="<%= display_answer_container? %>">
  <h2>Answers</h2>
  <table id="answers">
    <thead>
    <tr>
      <th>Description</th>
      <th>Correct Answer?</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @answers.each do |answer| %>
        <tr>
          <td><%= answer.description %></td>
          <td><%= answer.correct %></td>
          <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
          <td><%= link_to 'Destroy', answer, method: :delete %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<p id="alert" class="alert"></p>

<fieldset>
  <h3 style="color:green;">Add New Answer</h3>
  <%= form_for(@answer, remote: true, html: { id: "new_answer" } ) do |f| %>
      <% if @answer.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

            <ul>
              <% @answer.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= f.label :answer_description %><br>
        <%= f.text_area :description %>
      </div>

      <div class="field">
        <%= f.label :answer_is_correct? %><br>
        <%= f.select :correct, options_for_select([true, false], selected: false) %>
      </div>

      <%= f.hidden_field :question_id, value: @question.id %>

      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>
</fieldset>

<script>
    $(document).ready(function(){
        $("#new_answer").on("ajax:success", function(e, data, status, xhr) {
            // Get the current question 'status', which tells whether it's ready
            // to be used for a quiz, and insert it into the page with each request
            $.get("<%= status_question_path(@question) %>", function(status) {
                status.enough_answers ? $("#enough_answers").hide() : $("#enough_answers").show()
                status.has_correct_answer ? $("#has_correct_answer").hide() : $("#has_correct_answer").show();
            });

            // Set the text input field to empty, and the select tag back to false
            $(this).find("input[type=text], textarea").val("");
            $(this).find("select").val("false");

            // Show the table with all answers in it
            $("#answers-container").show();

            var tbody = $("#answers tbody");
            // Append the result (which should be the newest answer
            appendAnswer(tbody, data);
        }).on("ajax:error", function(e, xhr, status, error) {
            // If there's an error, insert it into the page
            $("#alert").html('There were one or more errors when adding the answer: ');
            $("#alert").append(xhr.responseText);
        });
    });

    function appendAnswer(tbody, data) {
        tbody.append('<tr>');
        tbody.append('<td>' + data.description + '</td>');
        tbody.append('<td>' + data.correct + '</td>');
        tbody.append('<td>' + "<a href='/answers/" + data.id + "/edit'>Edit" + '</a></td>');
        tbody.append('<td>' + "<a href='/answers/" + data.id + "' data-method='delete'>Destroy" + '</a></td>');
        tbody.append('</tr>');
    }
</script>
