<h1>Welcome to Quiz</h1>
<hr>

<% unless can_make_quiz? %>
    <p>Just getting started? Add at least 5 questions (each with at least 3 answers) to unlock the ability to make a quiz.</p>
<% else %>
    <p>Quiz ability unlocked. Create a new quiz below.</p>
<% end %>

<% unless @questions.empty? %>
    <h2 style="color:blue;">Questions</h2>

    <table>
      <tbody>
      <% @questions.each do |question| %>
          <tr>
            <td><%= question.prompt %></td>
            <td><%= render_status(question) %></td>
            <td><%= link_to 'Show', question %></td>
            <td><%= link_to 'Edit', edit_question_path(question) %></td>
            <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <br>
<% end %>

<%= link_to 'Create New Question', new_question_path %>

<% if can_make_quiz? %>
    <div style="height:25px"></div>
    <h2 style="color:green;">Quizzes</h2>

    <% unless @quiz_runs.empty? %>
        <table>
          <tbody>
          <% @quiz_runs.each do |quiz_run| %>
              <tr>
                <td><%= quiz_run.name %></td>
                <td><%= quiz_run.description %></td>
                <td><%= render_status(quiz_run) %></td>
                <td><%= link_to 'Show', quiz_run %></td>
                <td><%= link_to 'Edit', edit_quiz_run_path(quiz_run) %></td>
                <td><%= link_to 'Destroy', quiz_run, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <td><%= link_to('Take Test', new_test_path(quiz_run_id: quiz_run.id)) if quiz_run.ready? %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <br>
    <% end %>

    <%= link_to 'Create New Quiz', new_quiz_run_path %>
<% end %>
