<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @quiz_run.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quiz_run.description %>
</p>

<%= link_to 'Edit', edit_quiz_run_path(@quiz_run) %> |
<%= link_to 'Add New Question', questions_path %> |
<%= link_to 'Back', quiz_runs_path %>
